<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chatbot</title>
</head>
<body>
  <div class="chat-container">
    <div class="chat-header">Mon Chatbot</div>
    <div class="chat-messages" id="chatMessages">
    </div>
    <form class="chat-input" id="chatForm">
      <input type="text" id="userInput" placeholder="Écris un message..." autocomplete="off" required />
      <button type="submit">Envoyer</button>
    </form>

  </div>
</body>
    <script src="/static/main.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</html>
